@use './variables' as *;
@use './mixins' as *;
@import '~bootstrap/scss/bootstrap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.my-container{
    max-width: 1070px;
    margin: auto;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.nav-bar{
    height: 100px;
    @include dflex('between');
    .logo-img{
        width: 90px
    }
    .links{
        @include dflex();
        li{
            line-height: 97px;
            padding: 0 0.7rem;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            text-transform: uppercase;
            font-weight: bold;
            &.active{
                a{
                    color: $blue;
                }
            }
            &.active,
            &:hover{
                border-bottom: 3px solid $blue;
                cursor: pointer;
            }
        }
    }
}
.jumbo{
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
    .title{
        position: absolute;
        bottom: 0px; 
        transform: translate( 0, 50%);
        padding: 0.8rem;
        background-color: $blue;
        @include myText(1rem,bold);
    }
}
main{
    background-color: $dark-dc;
    .inner-main{
        padding: 2rem 0;
        .cards{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;
            padding-bottom: 1rem;
            .flip-card{
                width: calc(100% / 6);
                height: 300px;
                padding: 0.5rem;
                background-color: white;
                border: 4px solid $dark-dc;
                perspective: 1000px;
                border-radius: 1rem;
                .flip-card-inner{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    .flip-card-front, .flip-card-back{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        
                    }
                    .flip-card-back{
                        transform: rotateY(180deg);
                    }
                }
                &:hover .flip-card-inner{
                    transform: rotateY(180deg);
                }
                .title{
                    @include myText(0.9rem);
                    color: black; 
                }
                .img-box{
                    height: 200px;
                    overflow: hidden;
                    margin-bottom: 0.5rem;
                }
                
            }
        }
    }
}

.icons-wrap{
    background-color: $blue;
    padding: 3rem 0;
    .icons{
        margin: auto;
        width: 80%;
        @include dflex();
    }
    
    .icon{
        @include dflex();
        width: calc(100% /5);
        padding-right: 1.5rem;
        .img-icon{
            width: 45px;
        }
        a{
            @include myText(0.9rem);
            padding-left: 0.8rem;
        }
    }
    .icon:nth-child(4) .img-icon{
        width: 25px;
    }
}

.links-footer{
    background-image: url('/resources/img/footer-bg.jpg');
    background-size: cover;
    background-position: center;        
    .links-wrap{
        @include dflex('between');
        height: 450px;
        overflow: hidden;
            .links{
            display: flex;
            .link{
                padding: 1.5rem 1rem 1rem 0;
                .title{
                    @include myText(1.5rem,bold);
                    display: inline-block;
                    padding: 0.8rem 0;
                }
                li{
                    padding: 0.1rem 0;
                }
                a{
                    color: grey;

                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }
}

.contacts-wrap{
    background-color: $dark-grey;
    .contacts{
        padding: 1.2rem 0;
        @include dflex('between');
        .social{
            @include dflex();
            span{
                margin-right: 0.7rem;
                @include myText(1.2rem,bold);
                color: $blue;
            }
            img:hover{
                filter: brightness(0) invert(1);
                cursor: pointer;
            }
            ul{
                position: relative;
                display: flex;
                li{
                    position: relative;
                    margin: 0 0.5rem;
                    cursor: pointer;
                    a{
                        font-size: 2.5em;
                        color: #222;
                    }
                    &::before{
                        font-family: "FontAwesome";
                        font: var(--fa-font-brands);
                        position: absolute;
                        top: 3px; left: 0;
                        font-size: 2.5em;
                        height: 0;
                        overflow: hidden;
                        transition: 0.5s ease-in-out;
                    }
                    &:first-child::before{
                        content: '\f09a';
                        color: #001eb4;
                        border-bottom: 4px solid #001eb4;
                    }
                    &:nth-child(2)::before{
                        content: "\f099";
                        color: #1DA1F2;
                        border-bottom: 4px solid #1DA1F2;
                    }
                    &:nth-child(3)::before{
                        content: "\f167";
                        color: red;
                        border-bottom: 4px solid red;
                    }
                    &:nth-child(4)::before{
                        content: "\f0d2";
                        background-image: linear-gradient(45deg,#f09433 0%, #e6883c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        border-bottom: 4px solid #dc2743;
                    }
                    &:nth-child(5)::before{
                        content: "\f3da";
                        color: white;
                        border-bottom: 4px solid white;
                    }
                    &:hover::before{
                        height: 100%;
                    }
                }
            }
        }
    }
    button{
        padding: 0.8rem;
        @include myText();
        background-color: transparent;
        border: 2px solid $blue;
        cursor: pointer;
        &:hover{
            background-color: $white;
            color: $blue;
        }
    }
}

.blue{
    height: 120px;
    background-color: $blue;
    
}
#singlepage{
    .img-box{
        position: absolute;
        top: -300px; left: 0;
        z-index: 100;
    }
    .title{
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: bold;
        color: #003F5E;
    }
    .price{
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        line-height: 60px;
        background-color: #55BA59;
        border-bottom: 1px solid #357739;
    }
    .my-border{
        border-left: 1px solid #357739;
    }
    p{
        color: #555555;
        font-size: 1.1rem;
        margin: 20px 0;
        line-height: 1.7rem;
        font-weight: 500;
    }
}
#details{
    margin-top: 50px;
    border-top: 2px solid #D8D8D8;
    background-color: #F6F6F6;
    padding-bottom: 100px;
    .my-border{
        border-bottom: 2px solid #D8D8D8;
    }
    .title{
        font-size: 1.4rem;
        font-weight: bold;
        color: #003F5E;
        padding: 1.5rem 0;
    }
    .sub-title{
        font-size: 1.1rem;
        font-weight: bold;
        color: #003F5E;
    }
    .text-blue{
        color: #00A9DF;
        font-weight: bold;
    }
}

#icons-wrap{
    border-top: 2px solid #D8D8D8;
    background-color: #F6F6F6;
    color: #D8D8D8;
    .my-border{
        border-left: 2px solid #D8D8D8;
    }
    .icons{
        display: flex;
    }
    .icon{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: calc(100% / 4);
        padding-top: 1rem;
        padding-right: 1rem;
        .img-icon{
            width: 45px;
            align-self: center
        }
        a{
            @include myText(0.9rem);
            font-weight: bold;
            padding-left: 0.8rem;
            color: #9F9F9F;
        }
    }
    .icon:last-child{
        border-right: 2px solid #D8D8D8;
    }
}